.root {
    -fx-background-image: url("background.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.main-button {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-background-color: #0A3D62;
    -fx-text-fill: white;
    -fx-padding: 15px 40px;
    -fx-background-radius: 12;
    -fx-cursor: hand;
}
.menu-button {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-background-color: #0A3D62;
    -fx-text-fill: black;
    -fx-padding: 15px 40px;
    -fx-background-radius: 12;
    -fx-cursor: hand;
}
.all-button {
    -fx-background-radius: 10;
    -fx-padding: 12px 24px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0), 0, 0, 0, 0);
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-transition: 0.2s;
}
.all-button:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 20, 0.3, 0, 5);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
.main-button:hover {
    -fx-background-color: #0A3D62;
}
.animated-button {
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-padding: 12px 24px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0), 0, 0, 0, 0);
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-transition: 0.2s;
}

.animated-button:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 20, 0.3, 0, 5);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.side-button {
    -fx-background-color: #ffffff;
    -fx-text-fill: black;
    -fx-background-radius: 14;
    -fx-padding: 12px 24px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0), 0, 0, 0, 0);
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-transition: 0.2s;
}

.side-button:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 20, 0.3, 0, 5);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}


.main-button:pressed {
    -fx-background-color: #005c84;
}
.check-box:selected {
    -fx-text-fill: #2d9d48;
}

