.root {
    -fx-background-color: linear-gradient(to bottom, #dff1f7, #b6e2f0);
}

.main-button {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-background-color: #0096d6;
    -fx-text-fill: white;
    -fx-padding: 15px 40px;
    -fx-background-radius: 12;
    -fx-cursor: hand;
}

.main-button:hover {
    -fx-background-color: #007cb2;
}

.main-button:pressed {
    -fx-background-color: #005c84;
}
